body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #fff;
  background: #000;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  filter: url(#displace);
}

h1 {
  line-height: 1em;
  font-size: 6em;
  word-spacing: 100vw;
  text-transform: uppercase;
  text-shadow: #b00 5px 5px;
  animation: flex 16s ease-in-out infinite alternate;
}

@keyframes flex {
  0% {
    transform: matrix3d(1.5,-0.3,0,0.001,
                        0.3,1.2,0,0.0005,
                        0,0,1,0,
                        0,0,0,1);
  }
  100% {
    transform: matrix3d(1,0.2,0,0.001,
                        -0.2,1,0,0.0005,
                        0,0,1,0,
                        0,0,0,1);
  }
}
